/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

textarea:focus,input[type="text"]:focus{
  border: solid #0071D1 1px !important;
  box-shadow: none !important;
}

[type="checkbox"]:not(:checked),[type="checkbox"]:checked{
  position: inherit;
  opacity: 100;
  margin: 0px 15px;
}

td,th {
  padding: 0px !important;
}

.btn{
  padding: 5px 12px !important;
  margin-bottom: 0 !important;
  font-size: 1.1rem !important;
  font-weight: 400 !important;
  width: 80px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: white !important;
  color: #337ab7 !important;
  border: solid 1px lightgrey !important;
  margin-right: 5px;
  box-shadow: none;
}  
  
.btn-primary:hover {
  background-color: #dbdbdb !important;
  border-radius: 2px;
  box-shadow: none;
} 

.btn-save {
  background-color: #337ab7 !important;
  color: white !important;
  margin-right: 5px;
  box-shadow: none;
} 

.btn-save:hover {
  background-color: #286191 !important;
  border-radius: 2px;
  box-shadow: none;
}

.btnMin{
  height: 39px;
  width: 5px;
  line-height: 0px;
  font-weight: bold;
  border: none;
}
.btnAdd{
  height: 39px;
  width: 5px;
  line-height: 0px;
  border: none;
  background-color: #eaab00;
}

.minmax{
  width: 40px !important;
  margin: 0px !important;
  padding: 8px !important;
} 

i.arrow{
  width:0px;
  margin-top: 1px;
  border: solid #1B3453;
  border-width: 0 2px 2px 0;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.collapsible-header i {
  float: right !important; 
  
}

.collapsible-header{
  font-size: 0.9rem !important;
  color: #1B3453 !important;
}   

.collapsible .collapsible-header:after {
 content: none;
}

.collapsible .collapsible-header.active:after {
  content: none;
}

.line-separator{
  border: solid 2px #1B3453;
  margin: 0px
} 

.td-checkbox{
  width: 10%;
}

table.table-content td,th {
  padding: 10px 5px !important;
}

.list-row{
  padding: 8px 5px;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  border-bottom: solid 1px #c1c1c1;
}

.list-row-selected{
  padding: 8px 5px;
  background-color: #e1e1e1;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  border-bottom: solid 1px #c1c1c1;
}

.list-row:hover{
  cursor: pointer;
  background-color: #e1e1e1;
} 
