.slds-modal__container {
	max-width: 75rem !important;
	width: 75% !important;
}

.fieldInfo{
    font-size: 12px;
    font-style: italic;
    margin-left: 7px;
    color: #656565;
}

.ui-timepicker-container {
      z-index: 3500 !important;
}

/* .cardStats .well img {
    height: 90px;
}*/


body {
    background: #eff3f8 !important;
}

body {
    padding-top: 1rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.blackText{
    color:#000!important;
}
.main-content-section h4{
    background-color: transparent;
}
.main-content-section {
    padding-top: 0px;
}
.cardStats .well {
    padding: 12px;
    padding-bottom: 3px;
}

.noHover{
    pointer-events: none;
}
.cardStats .well h4{
    color: #000!important;
}
.cardStats .well:hover h4{
    color: #fff!important;
}
.modal-title{
    background-color: transparent;
    color: #fff!important;
}
.modal-header .close {
    background: transparent;
    color: #fff!important;
    opacity: 1;
    margin-top: -13px;
    font-size: 30px;
}
.cardStats .well h4 label{
    margin-right:5px;
}
.cardStats .well {
    padding-bottom: 10px;
}
.modal-header .btn-mainWhite {
    margin-left: 0px!important;
    font-size: 14px!important;
    padding: 5px 20px!important;
    margin-right: 0!important;
}
.cardStats h6 {
    clear: both;
    display: block;
}
.oRight, .sidebarCell {
    background-color: #EFF3F8!important;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

.ui-autocomplete.ui-menu {
  z-index: 1000 !important;;
}
.multiselect {
	width: 150px !important;
	height: 100px !important;
}

#hoursBlock {
	border-radius: 25px;
	background: skyblue;
	padding: 20px;
	width: 250px;
	height: 160px;
}
.multiSelectPicklistCell img {
		 height: 20px !important;
		 padding-left: 0px!important;
		 padding-right: 0px!important;
}
.multiSelectPicklistCell. br {
	line-height : 0px !important;
}
.wizardInput {
	width:75%;
}
.filterPanel .detailList .labelCol , .filterPanel .detailList .dataCol {
	width: 16.66%;
}
.multiSelectPicklistRow select {
	width: 106px !important;
	height:100% !important;
	background-color: #fff!important;
	color: #16325c!important;
	border: 1px solid #d8dde6!important;
	border-radius: 4px!important;
}
.slds-scope input[type=checkbox] {
	width: 20px;
	margin-top: 10px;
	height: 20px;
}