<apex:page sidebar="false" standardStyleSheets="false" controller="CalendarController" showHeader="false">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{!URLFOR($Resource.MCP_Css, 'CSS/style.css')}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"/>

    <link rel="stylesheet" href="{!$Resource.fullcalendarMinCss}"/>
    <link rel="stylesheet" type="text/css" href="{!$Resource.fullcalendarPrintMinCss}" media="print"/>
    <script type="text/javascript" src="{!$Resource.momentMinJs}"/>
    <script type="text/javascript" src="{!$Resource.Jquery}"/>
    <script type="text/javascript" src="{!$Resource.JqueryUIMinJs}"/>
    <script type="text/javascript" src="{!$Resource.fullcalendarMinJs}"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>


    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"/>


    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"/>
    <script type="text/javascript" src="{!URLFOR($Resource.DIL_Resources, '/DIL_Resources/JS/CalendarScript.js')}"/>
    <!-- <script type="text/javascript" src="{!$Resource.CalendarScript}"/> -->
    <link rel="stylesheet" href="{!URLFOR($Resource.DIL_Resources, '/DIL_Resources/CSS/CalendarCss.css')}"/>


    <div id="blurDivId" style="display: none">
        <img src="/img/analytics/reportbuilder/icons/spinner32.gif" style="position: fixed; margin-left: 50%; margin-top: 20%"/>
    </div>


    <div align="center">
        <marquee behavior="alternate" bgcolor="#bb3434" direction="left" height=""
                 loop="7" scrollamount="0" scrolldelay="2" width="100%" style="text-align: center">
            <span style="font-size: 20px;color:#FFFFFF; display:none;" id="defaultBanner">
                {!$Label.Calendar_Banner}
            </span>
            <span style="font-size: 20px;color:#FFFFFF; display:none;" id="feedsBanner">
                <a href="{!URLFOR($Resource.AgroImages, 'feeds.png')}" target="_blank" style="color:#FFFFFF;">TYPICAL MONTH FOR AGRO FEEDS</a>
            </span>
            <span style="font-size: 20px;color:#FFFFFF; display:none;" id="pAndMBanner">
                <a href="{!URLFOR($Resource.AgroImages, 'p&m.png')}" target="_blank" style="color:#FFFFFF;">TYPICAL MONTH FOR AGRO P&amp;M</a>
            </span>
            <!-- <span>
                <a id="bannerAnchorIds" style="color:#FFFFFF;"/>
            </span> -->
        </marquee>
    </div>

    <div class="container topContainer">

        <div class="row">
            <div class="col-md-3">
                <span>
                    <button class="btn btn-primary" type="button" id="homeRedId">
                        <i class="fa fa-save"></i> Home
                    </button>
                </span>

                <div class="monthRedClass">
                    <button class="btn btn-primary" type="button" id="monthRedId">
                        <i class="fa fa-save"></i> Go to Month Details
                    </button>
                </div>
            </div>

            <div class="col-md-6"/>

            <div class="col-md-3">

                <div class="asmMessageClass">
                    <span>
                        <a id="bannerAnchorIds" style="color:#247bff;"/>
                    </span>
                </div>

                <div class="well stat4" style="width: 129%; margin-left: -27%; display: none" id="weeklyMessageDivId">
                    <div align="center" style="font-weight: bolder; margin-top: -4%; font-size: 125%;">Weekly Message</div>
                    <div class="row">

                        <div style="width: 85%;margin-left: 9%;">
                            <a id="bannerAnchorMsgId" style="background-color: inherit;color: #32394d !important;font-size: 80%;text-align: left;"/>
                            <a id="bannerAnchorDateId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 10%; float: right;"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div id="userPickDivId" style="display: none">
                    <b class="fc-widget-header fieldLabel">User: </b>
                    <select id="userpickListId" class="form-control">
                    </select>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="topRightContainer">
                    <label class="statusLabel">
                        Status: <span id="monStatId" class="statusSpan"></span>
                    </label>
                    <button class="btn btn-primary" type="button" id="sendApprovalId">
                        <i class="fa fa-save"></i> Send for Approval
                    </button>
                </div>
            </div>

        </div>

    </div>

    <main role="main" class="container">
        <section class="main-content-section">
            <div class="wrapper">
                <div class="cardStats">
                    <div class="well stat1">
                        <div align="center" style="font-weight: bolder; margin-top: -4%; font-size: 125%;">Total Work</div>
                        <div class="row">
                            <div class="col-2 col-sm-4" style="margin-top: 8%;">
                                <img src="{!URLFOR($Resource.MCP_img, 'img/total_work_days.jpg')}"/>
                            </div>
                            <div class="col-8 col-sm-8" style="margin-left: -2%; padding-left: 0%;">

                                <div>
                                    <span style="font-size: 80%;">Work Days</span>
                                    <h4 id="workDaysId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 5%; float: right;"/>
                                </div>
                                <div>
                                    <span style="font-size: 80%;">Work Hours</span>
                                    <h4 id="workHoursId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 1%; float: right;"/>
                                </div>
                                <div>
                                    <span style="font-size: 80%;">% Days Planned</span>
                                    <h4 id="perDaysId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 8%; float: right;"/>
                                </div>
                                <div>
                                    <span style="font-size: 80%;">% Hours Planned</span>
                                    <h4 id="perHoursId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 3%; float: right;"/>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="well stat2">
                        <div align="center" style="font-weight: bolder; margin-top: -4%; font-size: 125%;">Office Work</div>
                        <div class="row">
                            <div class="col-2 col-sm-4" style="margin-top: 8%;">
                                <img src="{!URLFOR($Resource.MCP_img, 'img/office_work_hours.jpg')}"/>
                            </div>
                            <div class="col-8 col-sm-8" style="margin-left: -2%; padding-left: 0%;">

                                <div>
                                    <span style="font-size: 80%;">Office Days</span>
                                    <h4 id="officeDaysId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 5%; float: right;"/>
                                </div>
                                <div>
                                    <span style="font-size: 80%;">Office Hours</span>
                                    <h4 id="officeHoursId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 0%; float: right;"/>
                                </div>
                                <div>
                                    <span style="font-size: 80%;">% Days Planned</span>
                                    <h4 id="officePerDaysId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 9%; float: right;"/>
                                </div>
                                <div>
                                    <span style="font-size: 80%;">% Hours Planned</span>
                                    <h4 id="officePerHoursId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 5%; float: right;"/>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="well stat3">
                        <div align="center" style="font-weight: bolder; margin-top: -4%; font-size: 125%;">Field Work</div>
                        <div class="row">
                            <div class="col-2 col-sm-4" style="margin-top: 8%;">
                                <img src="{!URLFOR($Resource.MCP_img, 'img/field_work_hours.jpg')}"/>
                            </div>
                            <div class="col-8 col-sm-8" style="margin-left: -2%; padding-left: 0%;">

                                <div>
                                    <span style="font-size: 80%;">Field Days</span>
                                    <h4 id="fieldDaysId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 9%; float: right;"/>
                                </div>
                                <div>
                                    <span style="font-size: 80%;">Field Hours</span>
                                    <h4 id="fieldHoursId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 5%; float: right;"/>
                                </div>
                                <div>
                                    <span style="font-size: 80%;">% Days Planned</span>
                                    <h4 id="fieldPerDaysId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 8%; float: right;"/>
                                </div>
                                <div>
                                    <span style="font-size: 80%;">% Hours Planned</span>
                                    <h4 id="fieldPerHoursId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 3%; float: right;"/>
                                </div>
                                <div id="outletDivId">
                                    <span style="font-size: 80%;">Outlets Covered</span>
                                    <h4 id="outletsCoveredId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 3%; float: right;"/>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="well stat4">
                        <div align="center" style="font-weight: bolder; margin-top: -4%; font-size: 125%;">Leaves</div>
                        <div class="row">
                            <div class="col-2 col-sm-4" style="margin-top: 8%;">
                                <img src="{!URLFOR($Resource.MCP_img, 'img/total_leave_hours.png')}"/>
                            </div>
                            <div class="col-xs-8 col-sm-8" style="margin-left: -2%; padding-left: 0%;">
                                <div style="width: 95%;">
                                    <span style="font-size: 80%;">Leave Days</span>
                                    <h4 id="leaveDaysId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 10%; float: right;"/>
                                </div>
                                <div style="width: 95%;">
                                    <span style="font-size: 80%;">Leave Hours</span>
                                    <h4 id="leaveHoursId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 6%; float: right;"/>
                                </div>
                                <div style="width: 95%;">
                                    <span style="font-size: 80%;">% Days Planned</span>
                                    <h4 id="leavePerDaysId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 13%; float: right;"/>
                                </div>
                                <div style="width: 95%;">
                                    <span style="font-size: 80%;">% Hours Planned</span>
                                    <h4 id="leavePerHoursId" style="background-color: inherit;color: #32394d !important;font-size: 80%;margin-left: 9%; float: right;"/>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="activityList">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="well activityheader" id="activityDivId">
                                <div class="row">
                                    <div class="col-12 col-sm-3">
                                        <h5>Activities</h5>
                                    </div>
                                    <div class="col-12 col-sm-9 text-right">
                                        <button class="btn btn-secMain" id="editAsmMessage" role="button" style="color: white;background-color: rgb(24, 35, 130);">Edit ASM Message</button>
                                        <button class="btn btn-secMain" id="copyTasksId" role="button" style="color: white;background-color: rgb(24, 35, 130);">Copy Previous Month</button>
                                        <button class="btn btn-main" id="createActivityId" role="button" style="color: white;background-color: rgb(24, 35, 130);">Create Recurring Activities</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="well calendarContainer">
                    <div class="row">
                        <div class="col-sm-12">
                           <div id='calendar'></div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </main><!-- /.container -->

    <div class="container">


        <!-- -------------------------------------------------- Main Modal Start -------------------------------------------------------------------------------------- -->

        <div class="modal fade" id="addEventModalId" role="dialog">


            <div class="modal-dialog modal-lg">

                 <!-- Modal content-->
                <div class="modal-content">


                    <!-- Modal Header-->
                    <div class="modal-header">

                        <h4 class="modal-title">
                            <i class="fa fa-edit"></i> Edit
                        </h4>
                        <button type="button" class="btn btn-danger delBtn" data-dismiss="modal" id="removeEventId">
                            <i class="fa fa-minus-circle"></i>&nbsp;&nbsp; Cancel Event
                        </button>
                        <button type="button" class="btn btn-danger delBtn" data-dismiss="modal" id="deleteEventId">
                            <i class="fa fa-trash"></i>&nbsp;&nbsp; Delete Event
                        </button>
                        <button type="button" class="btn btn-primary delBtn" data-dismiss="modal" id="copyEventId">
                            <i class="fa fa-floppy-o"></i>&nbsp;&nbsp; Copy Event
                        </button>

                        <button type="button" class="close" data-dismiss="modal" id="closeEditModal">&times;</button>
                    </div>



                    <!-- Modal Body-->
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30">
                                    <div class="tour-booking-form">
                                        <span class="fieldInfo" style="margin-left: 33%;">If Drop Downs Appear, Select with Mouse</span>
                                        <form>
                                            <div class="row">

                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">


                                                    <div class="form-group" style="display: none;">
                                                        <label for="userSpanId" class="fieldLabel">
                                                            <i class="fa fa-user"></i> User:
                                                        </label>
                                                        <span id="userSpanId"></span>
                                                    </div>

                                                    <div class="form-group" id="workId">
                                                        <label for="Work" class="fieldLabel">Work Type: </label>
                                                        <span style="color: red">*</span>
                                                        <select id="Work" class="form-control">
                                                            <option>Office work</option>
                                                            <option>Field work</option>
                                                            <option>Leave</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group" id="leaveReasonDivId">
                                                        <label><span class="glyphicon"></span>Leave Reason:  </label>
                                                        <select id="leaveReasonSelectId" class="form-control"/>
                                                    </div>

                                                    <div class="form-group" id="leaveTypeId">
                                                        <label><span class="glyphicon"></span>Leave Type:  </label>
                                                        <select id="leaveSelectId" class="form-control">
                                                            <option>Full Day</option>
                                                            <option>Half Day</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group" id="halfLeaveTypeId">
                                                        <label><span class="glyphicon"></span>Half Day Leave Type:  </label>
                                                        <select id="halfLeaveSelectId" class="form-control">
                                                            <option>Morning</option>
                                                            <option>Afternoon</option>
                                                        </select>
                                                    </div>


                                                    <div id="bu-AccSectionId">

                                                        <div class="form-group" id="customerGroupDivId">
                                                            <label for="customerGroupId" class="fieldLabel">Customer Group:</label>
                                                            <span style="color: red">*</span>
                                                            <span class="fieldInfo">Filter Account Details</span>

                                                            <div class="ui-widget" id="ui-widgetCustomerGroup">
                                                                <input type="text" class="form-control fc-widget-header" id="customerGroupId"/>
                                                            </div>
                                                            <div class="requiredCss" id="custGroupIdError" style="display:none;">Please Enter Details !</div>
                                                        </div>

                                                        <div class="form-group" id="numOfAccDivId" style="display: none">
                                                            <label for="numOfAccId" class="fieldLabel">Number of Accounts:</label>
                                                            <input type="number" class="form-control fc-widget-header" id="numOfAccId" min="2"/>
                                                        </div>

                                                        <div class="form-group" id="provinceDivId">
                                                            <label for="provinceId" class="fieldLabel">Province:</label>
                                                            <span style="color: red; display: none;" id="provinceReqId">*</span>
                                                            <span class="fieldInfo">Filter City Details</span>

                                                            <div class="ui-widget" id="ui-widgetProvince">
                                                                <input type="text" class="form-control fc-widget-header" id="provinceId"/>
                                                            </div>
                                                            <div class="requiredCss" id="provinceIdError" style="display:none;">Please Enter Details !</div>
                                                        </div>


                                                        <div class="form-group" id="cityDivId">
                                                            <label for="cityId" class="fieldLabel">City:</label>
                                                            <span style="color: red; display: none;" id="cityReqId">*</span>
                                                            <span class="fieldInfo">Filter Account Details</span>

                                                            <div class="ui-widget" id="ui-widgetCity">
                                                                <input type="text" class="form-control fc-widget-header" id="cityId"/>
                                                            </div>
                                                            <div class="requiredCss" id="cityIdError" style="display:none;">Please Enter Details !</div>
                                                        </div>

                                                        <div class="form-group" id="accountDivId">
                                                            <label for="accountId" class="fieldLabel">Account: </label>
                                                            <!-- <span style="color: red">*</span> -->
                                                            <span class="selAccSpanId"></span>

                                                            <div class="ui-widget" id="ui-widgetAcc">
                                                                <input type="text" class="form-control fc-widget-header" id="accountId"/>
                                                            </div>
                                                            <div class="requiredCss" id="accountIdError" style="display:none;">Please Enter Details !</div>
                                                        </div>

                                                        <div class="form-group" id="potCustDivId" style="display: none">
                                                            <label for="PotCustId" class="fieldLabel">Account Description</label>
                                                            <input type="text" class="form-control fc-widget-header" id="potCustId"/>
                                                        </div>


                                                        <div id="activityDivId">
                                                            <div class="form-group">
                                                                <label for="buTypePlistId" class="fieldLabel">Type of Activity: </label>
                                                                <span style="color: red">*</span>
                                                                <span id="selTaskTypeSpanId"></span><br/>
                                                                <select id="buTypePlistId" class="form-control">
                                                                    <option>--none--</option>
                                                                </select>
                                                                <div class="requiredCss" id="buTypePlistIdError" style="display: none">Please Enter Details !</div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="buPlistId" class="fieldLabel">Activity: </label>
                                                                <span style="color: red">*</span>
                                                                <span id="selTaskSpanId"></span><br/>
                                                                <select id="buPlistId" class="form-control">
                                                                    <option>--none--</option>
                                                                </select>
                                                                <div class="requiredCss" id="buPlistIdError" style="display: none">Please Enter Details !</div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group" id="targetRevenueDivId" style="display: none">
                                                            <label for="targetRevenueId" class="fieldLabel">Target Revenue</label>
                                                            <input type="number" class="form-control fc-widget-header" id="targetRevenueId" min="1"/>
                                                        </div>

                                                    </div>


                                                </div>

                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">


                                                    <div class="form-group" id="titleDivId">
                                                        <label for="titleId" class="fieldLabel">Title:</label>
                                                        <span style="color: red">*</span>
                                                        <input type="text" class="form-control fc-widget-header" id="titleId"/>
                                                        <div class="requiredCss" id="titleIdError" style="display: none">Please Enter Details !</div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="commentId" class="fieldLabel">Remarks / Notes:</label>
                                                        <textarea rows="3" cols="50" type="text" class="form-control fc-widget-header" id="commentId"/>
                                                    </div>



                                                    <div class="form-group" id="startDateSectionId" >
                                                        <label for="startDateId" class="fieldLabel">Date:</label>
                                                        <span style="color: red">*</span>
                                                        <span class="fieldInfo">Format MM-DD-YYYY</span>

                                                        <input type="text" class="form-control " id="startDateId"/>
                                                        <div class="requiredCss" id="startDateIdError" style="display: none">Please Enter Details !</div>
                                                    </div>


                                                </div>


                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" data="dateTimeSectionAttr">
                                                    <div class="form-group floatCss">
                                                        <label class="fieldLabel">Time: </label>
                                                        <span class="fieldInfo">Format HH:MM:SS</span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"  data="dateTimeSectionAttr">
                                                    <div class="form-group">
                                                        <label for="startId" class="fieldLabel">Start Time:</label>
                                                        <span style="color: red">*</span>
                                                        <input type="text" class="form-control" autocomplete="off" id="startId"/>
                                                        <div class="requiredCss"  id="startIdError" style="display: none">Please Enter Details !</div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"  data="dateTimeSectionAttr">
                                                    <div class="form-group">
                                                        <label for="endId" class="fieldLabel">End Time:</label>
                                                        <span style="color: red">*</span>
                                                        <input type="text" class="form-control" autocomplete="off" id="endId"/>
                                                         <div class="requiredCss"  id="endIdError" style="display: none">Please Enter Details !</div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>



                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                         <div class="form-group">
                            <button type="button" class="btn btn-success" id="*goToId" style="display: none;">
                                Go To Record  &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>
                            </button>
                        </div>

                        <div class="form-group" style="margin-top: 16%;">
                            <button type="button" class="btn btn-success" id="goToAccounts" style="display: none">
                                Go To Accounts  &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>
                            </button>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-success" id="goToEform">
                                Go To eForm  &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>
                            </button>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-success" id="goToConfigEform">
                                Go To eForm  &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>
                            </button>
                        </div>


                        <div class="form-group" style="margin-top: 2%;">
                            <button type="button" class="btn btn-primary" id="doneId"><i class="fa fa-save"></i> &nbsp;&nbsp;Done</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="finalDoneId" style="display: none">
                                Done
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <!-- -------------------------------------------------------- Main Modal End ----------------------------------------------------------------------------------- -->



        <!-- -------------------------------------------------------- User Select Modal Start -------------------------------------------------------------------------- -->

        <div class="modal fade" id="slctUsrPopUpId" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title">Caution</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <div class="modal-body">
                        <p class="fc-widget-header">If you change the user without Submitting, data will be lost !!!</p>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="fc-state-default" data-dismiss="modal" id="changeUserSubmitId">Submit and Change User</button>
                        <button type="button" class="fc-state-default" data-dismiss="modal" id="changeUserId">Change User</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- -------------------------------------------------------- User Clicks + Button -------------------------------------------------------------------------- -->

        <div class="modal fade" id="slctRedirect" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title">Caution</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <div class="modal-body">
                        <p class="fc-widget-header">If you redirect without Submitting, data will be lost !!!</p>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="fc-state-default" data-dismiss="modal" id="proceedRedirectId">Proceed</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------ User Select Modal End -------------------------------------------------------------------------- -->


         <div class="modal fade" id="accountModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title">All Tasks of Account: <span id="clickAccNameId"/></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <div class="modal-body">
                        <div id="taskListId"></div>
                    </div>

                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------ Account Modal End -------------------------------------------------------------------------- -->
        <!-- ------------------------------------------------------ Copy Select Modal End -------------------------------------------------------------------------- -->


         <div class="modal fade" id="copyEventModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title">Copy Event Model

                        <span/>
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" id="clickCopyEventId">&times;</button>
                    </div>


                    <div class="modal-body">
                        <span style="color: red">Enter Date:*</span>
                        <input type="text" class="form-control2" id="copyDateId"/>

                        <div class="form-group" style="margin-top: 16%;">
                            <button type="button" class="btn btn-primary" id="doneEventCopyId" >
                                Done
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="finalCopyEventDoneId" style="display: none">
                                Done
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------ Copy Task Modal End -------------------------------------------------------------------------- -->

        <div class="modal fade" id="copyTaskModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title">Copy Tasks </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <div class="modal-body">

                        Select Source Dates:

                        <div align="center">
                            <span>Month: <select id="selectCopyMonthId"/></span>
                            <span style="margin-left: 8%;">Year: <select id="selectCopyYearId"/></span>
                        </div>

                        <div id="daysHolderId" class="daysHolderClass"/>

                        <div>
                            <button type="button" class="btn btn-primary" id="doneCopyId"><i class="fa fa-save"></i> &nbsp;&nbsp;Copy</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="finalDoneCopyId" style="display: none">
                                Done
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------ Copy Task Modal End -------------------------------------------------------------------------- -->

        <!-- ---------------------------------- Cancel Reason Modal ------------------------------------------------- -->

        <div class="modal fade cancelReasonModal" id="cancelReasonModal" role="dialog" style="display: none; padding-right: 17px;margin-top:10%;">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Do you want to cancel the task?</h4>
                        <button class="close" data-dismiss="modal" type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="formLabel" style="min-height: 35px;">Reason</label>
                                    <input class="form-control formText" id="cancelReasonMessage" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" id="reasonSubmitButton" onclick="cancelEvnentWithReason(); return false;" type="submit" disabled="disabled">Yes</button>
                        <button class="btn btn-default" data-dismiss="modal" type="cancel">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------- Cancel reason Modal Close ------------------------------------------------- -->

        <!-- ---------------------------------- Edit ASM Modal ------------------------------------------------- -->

        <div class="modal fade" id="asmEditModalModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Enter Weekly Message</h4>
                        <button class="close" data-dismiss="modal" type="button">×</button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="formLabel" style="min-height: 35px;">Message:</label>
                                    <textarea rows="3" cols="50" class="form-control formText" id="asmNewMessage" type="text"/>
                                    <label class="formLabel" style="min-height: 35px; margin-top: 3%;">Start Date:</label>
                                    <input class="form-control formText" id="asmStartDate" type="text"/>
                                    <label class="formLabel" style="min-height: 35px; margin-top: 3%;">End Date:</label>
                                    <input class="form-control formText" id="asmEndDate" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" id="asmMessageButton" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------- Edit ASM Modal Close ------------------------------------------------- -->





    </div>

</apex:page>