<apex:page standardController="Product_Assignment__c" extensions="ProductAssignmentCX" sidebar="false" id="page" docType="html-5.0">  
    <script>
        function filterSearch(e){
            if(e.keyCode === 13){
                filterResultRecords();
            }

            return false;
        }   
    
		
		function disableEnterKey(e)
		{
			 var key;

			 if(window.event)
				  key = window.event.keyCode;     //IE
			 else
				  key = e.which;     //firefox

			 if(key == 13)
				  return false;
			 else
				  return true;
		}
	</script>
    <apex:form id="frm">
    <apex:outputPanel id="page1" rendered="true">

    <apex:sectionHeader title="Product Assignments" subtitle="Add Product Assignment"/>
        <apex:pageBlock mode="edit" id="block" title="New Product Assignment(s)">
            <apex:pageBlockButtons >
				<apex:commandButton value=" Cancel " action="{!cancel}"/>
                <apex:commandButton id="proceedBtn" value=" Save " action="{!SaveProductAssignments}" rerender="PageMessage,resultTableBlock" status="loadStatus" />
            </apex:pageBlockButtons>
            <apex:actionFunction action="{!SearchProducts}" name="filterResultRecords" rerender="PageMessage,resultTableBlock" status="loadStatus"/>
            <apex:actionFunction action="{!InitializePage}" name="initializeTable" rerender="PageMessage,resultTableBlock" status="loadStatus"/> 
            <apex:actionStatus id="status" startText="Searching... please wait..."/>  
            <apex:pageMessages id="PageMessage"/>
            
            <apex:pageBlockSection title="Account Details" columns="3">
                <apex:inputField value="{!Product_Assignment__c.Account__c}" onchange="initializeTable();"/>
            </apex:pageBlockSection>
                                

            <apex:pageBlockSection title="Search Products" columns="1">
                <apex:outputPanel >
                    SKU :&nbsp;<apex:inputText value="{!filterBySKU}" onkeydown="if(event.keyCode==13){this.blur();filterResultRecords();}"/>&nbsp;&nbsp;
                    Name :&nbsp;<apex:inputText value="{!filterByName}" onkeydown="if(event.keyCode==13){this.blur();filterResultRecords();}"/>&nbsp;&nbsp;
                    Business Unit :&nbsp;<apex:inputText value="{!filterByBU}" onkeydown="if(event.keyCode==13){this.blur();filterResultRecords();}"/>&nbsp;&nbsp;
                    Brand :&nbsp;<apex:inputText value="{!filterByBrand}" onkeydown="if(event.keyCode==13){this.blur();filterResultRecords();}"/>&nbsp;&nbsp;
                    Category :&nbsp;<apex:inputText value="{!filterByCategory}" onkeydown="if(event.keyCode==13){this.blur();filterResultRecords();}"/>&nbsp;&nbsp;
                    <apex:commandButton status="loadStatus" id="searchBtn" value="Search" action="{!SearchProducts}" rerender="PageMessage,frm"/>
                </apex:outputPanel>
            </apex:pageBlockSection>
         
            
            <apex:pageBlockSection title="Search Results" id="resultTableBlock" columns="1">
            
                <apex:panelGrid columns="4">
                    <!--
                    <apex:selectList value="{!pageSize}" multiselect="false" size="1">
                        <apex:actionSupport status="loadStatus" event="onchange" action="{!search}" rerender="PageMessage,resultTableBlock,frm"/>
                            <apex:selectOptions value="{!sizeOptions}"/>
                    </apex:selectList>
                    -->
                    <apex:commandLink status="loadStatus"  rerender="PageMessage,resultTableBlock,frm" value="Previous" action="{!GotoPreviousPage}" title="Previous Page" rendered="{!pageNum>0}"/>
                    {!pageInfo}
                    <apex:commandLink status="loadStatus"  rendered="{!!((pageNum+1)==lastPageNum)}" rerender="PageMessage,resultTableBlock,frm" value="Next" action="{!GoToNextPage}" title="Next Page"/>
                    <apex:outputPanel style="color:#4AA02C;font-weight:bold">
                        <apex:actionStatus id="fetchStatus" startText="Fetching..." stopText=""/>
                    </apex:outputPanel>
                </apex:panelGrid>
                         
                <apex:pageBlockTable value="{!productsToDisplay}" var="c" >
                    <apex:column width="5px"> 
                        <apex:facet name="header">
                            <apex:inputCheckbox onclick="selectAllCheckboxes(this,'inputId')"/>
                        </apex:facet>
                        <apex:inputCheckbox value="{!c.isSelected}"  id="inputId" rendered="{!!c.isAssigned}"/>
                        <apex:outputPanel rendered="{!c.isAssigned}"><center>&#10004;</center></apex:outputPanel>

                    </apex:column>
                    <apex:column headerValue="Name" value="{!c.product.Name}"/>
                    <apex:column headerValue="Material Code" value="{!c.product.SKU_Code__c}"/>
                    <apex:column headerValue="Brand" value="{!c.product.Brand__c}"/>
                    <apex:column headerValue="Category" value="{!c.product.Category1__c}"/>
                </apex:pageBlockTable>
            
                <apex:panelGrid columns="4">
                    <!--
                    <apex:selectList value="{!pageSize}" multiselect="false" size="1">
                        <apex:actionSupport status="loadStatus" event="onchange" action="{!search}" rerender="PageMessage,resultTableBlock,frm"/>
                            <apex:selectOptions value="{!sizeOptions}"/>
                    </apex:selectList>
                    -->
                    <apex:commandLink status="loadStatus"  rerender="PageMessage,resultTableBlock,frm" value="Previous" action="{!GotoPreviousPage}" title="Previous Page" rendered="{!pageNum>0}"/>
                    {!pageInfo}
                    <apex:commandLink status="loadStatus"  rendered="{!!((pageNum+1)==lastPageNum)}" rerender="PageMessage,resultTableBlock,frm" value="Next" action="{!GoToNextPage}" title="Next Page"/>
                    <apex:outputPanel style="color:#4AA02C;font-weight:bold">
                        <apex:actionStatus id="fetchStatus2" startText="Fetching..." stopText=""/>
                    </apex:outputPanel>
                </apex:panelGrid>
<!--    
                <apex:panelGrid columns="4">
                    
                    <apex:commandLink status="loadStatus" rendered="{!If(pageNumberResultTable == 0 ,false,true)}" rerender="PageMessage,resultTableBlock,frm" value="Previous" action="{!previousPage}" title="Previous Page"/>
                    <apex:outputText >{!pageInfo}</apex:outputText>
                    <apex:commandLink status="loadStatus" rendered="{!If(totalPageResult == pageNumberResultTable+1, false, true)}" rerender="PageMessage,resultTableBlock,frm" value="Next" action="{!nextPage}" title="Next Page"/>
                    <apex:outputPanel style="color:#4AA02C;font-weight:bold">
                        <apex:actionStatus id="fetchStatus2" startText="Fetching..." stopText=""/>
                    </apex:outputPanel>
                  
                </apex:panelGrid>   -->
                </apex:pageBlockSection>          
        </apex:pageBlock>
        </apex:outputPanel>
        <c:LoaderComponent /> 
    </apex:form>
    <script type="text/javascript">
        function selectAllCheckboxes(obj,receivedInputID){
            var inputCheckBox = document.getElementsByTagName("input");                  
            for(var i=0; i<inputCheckBox.length; i++){          
                if(inputCheckBox[i].id.indexOf(receivedInputID)!=-1){                                     
                    inputCheckBox[i].checked = obj.checked;
                }
            }
        }
    </script>
    
</apex:page>